/* ------------------------------------------
CSS3 FACEBOOK-STYLE BUTTONS
Fork by Stephan Schmitz:
http://github.com/eyecatchup/css3-facebook-buttons
Based on work by Nicolas Gallagher:
http://github.com/necolas/css3-facebook-buttons

Changes:
Added background-image properties to
enhance cross-browser-compatibility.

Supported Browsers:
Chrome  3+
IE      5.5+
Firefox 3.6+
Opera   8+
Safari  3+

Note: Place the following condition below the CSS link.
(IE 9 uses SVG and IE 10 a vendor prefix. Thus, you need
to override 'filter' to 'none' for IE 9 and IE 10.)

<!--[if gte IE 9]>
  <style type="text/css">
    .uibutton {
      filter: none;
    }
  </style>
<![endif]-->

A great guide on CSS gradients:
http://7synth.com/dev/gradients
------------------------------------------ */


/* ---------------------------------------
--- GENERAL BUTTON SYTLE --- */

.uibutton {
    position: relative;
    z-index: 1;
    overflow: visible;
    display: inline-block;
    padding: 0.3em 0.6em 0.375em;
    border: 1px solid #999;
    border-bottom-color: #888;
    margin: 0;
    text-decoration: none;
    text-align: center;
    font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
    white-space: nowrap;
    cursor: pointer;
    /* outline: none; */
    color: #333;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    /* Old browsers */
    background-color: #eee;
    /* Chrome 3-9, Safari 3-5 */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f6f6), color-stop(1, #e4e3e3));
    /* Chrome 10+, Safari 5.1+ */
    background-image: -webkit-linear-gradient(top, #f5f6f6 0%, #e4e3e3 100%);
    /* FF 3.6+ */
    background-image:    -moz-linear-gradient(top, #f5f6f6 0%, #e4e3e3 100%);
    /* IE 9, Opera 8-11 */
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGUzZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    /* IE 10 */
    background-image:     -ms-linear-gradient(top, #f5f6f6 0%, #e4e3e3 100%);
    /* Opera 11.10+ */
    background-image:      -o-linear-gradient(top, #f5f6f6 0%, #e4e3e3 100%);
    /* W3C */
    background-image:         linear-gradient(top, #f5f6f6 0%, #e4e3e3 100%);
    /* IE 5.5-8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6', endColorStr='#e4e4e3', GradientType=0);
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.uibutton:hover,
.uibutton:focus,
.uibutton:active {
    border-color: #777 #777 #666;
}

.uibutton:active {
    border-color: #aaa;
    background: #ddd;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* overrides extra padding on button elements in Firefox */
.uibutton::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* ---------------------------------------
--- ADD ICON SYTLES --- */

.uibutton.icon:before {
    content: "";
    position: relative;
    top: 1px;
    float:left;
    width: 10px;
    height: 12px;
    margin: 0 0.5em 0 0;
    background: url("fb-icons.png") 99px 99px no-repeat;
}

.uibutton.edit:before  { background-position: 0 0; }
.uibutton.add:before  { background-position: -10px 0; }
.uibutton.secure:before  { background-position: -20px 0; }
.uibutton.prev:before  { background-position: -30px 0; }
.uibutton.next:before  { float:right; margin: 0 -0.25em 0 0.5em; background-position: -40px 0; }

/* ---------------------------------------
--- BUTTON SIZE */

.uibutton.large {
    font-size: 13px;
}

/* ---------------------------------------
--- BLUE BUTTON SYTLES --- */

.uibutton.confirm {
    border-color: #29447e #29447e #1a356e;
    color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    /* Old browsers */
    background-color: #5B74A8;
    /* Chrome 3-9, Safari 3-5  */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #637bad), color-stop(1, #5872a7));
    /* Chrome 10+, Safari 5.1+ */
    background-image: -webkit-linear-gradient(top, #637bad 0%, #5872a7 100%);
    /* FF 3.6+ */
    background-image:    -moz-linear-gradient(top, #637bad 0%, #5872a7 100%);
    /* IE 9, Opera 8-11 */
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzN2JhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ODcyYTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    /* IE 10 */
    background-image:     -ms-linear-gradient(top, #637bad 0%, #5872a7 100%);
    /* Opera 11.10+ */
    background-image:      -o-linear-gradient(top, #637bad 0%, #5872a7 100%);
    /* W3C */
    background-image:         linear-gradient(top, #637bad 0%, #5872a7 100%);
    /* IE 5.5-8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#637bad', endColorStr='#5872a7', GradientType=0);
}

.uibutton.confirm:active {
    border-color: #29447E;
    background: #4F6AA3;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* ---------------------------------------
--- GREEN BUTTON SYTLES --- */

.uibutton.special {
    border-color: #3b6e22 #3b6e22 #2c5115;
    color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
    /* Old browsers */
    background-color: #69a74e;
    /* Chrome 3-9, Safari 3-5 */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #75ae5c), color-stop(1, #67a54b));
    /* Chrome 10+, Safari 5.1+ */
    background-image: -webkit-linear-gradient(top, #75ae5c 0%, #67a54b 100%);
    /* FF 3.6+ */
    background-image:    -moz-linear-gradient(top, #75ae5c 0%, #67a54b 100%);
    /* IE 9, Opera 8-11 */
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1YWU1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2N2E1NGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    /* IE 10 */
    background-image:     -ms-linear-gradient(top, #75ae5c 0%, #67a54b 100%);
    /* Opera 11.10+ */
    background-image:      -o-linear-gradient(top, #75ae5c 0%, #67a54b 100%);
    /* W3C */
    background-image:         linear-gradient(top, #75ae5c 0%, #67a54b 100%);
    /* IE 5.5-8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#75ae5c', endColorstr='#67a54b', GradientType=0);
}

.uibutton.special:active {
    border-color: #3b6e22;
    background: #609946;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* ---------------------------------------
--- DISABLED BUTTON SYTLES --- */

.uibutton.disable {
    z-index: 0;
    border-color: #c8c8c8;
    color: #b8b8b8;
    background: #f2f2f2;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.uibutton.confirm.disable {
    color: #fff;
    border-color: #94a2bf;
    background: #adbad4;
}

.uibutton.special.disable {
    color: #fff;
    border-color: #9db791;
    background: #b4d3a7;
}

.uibutton.disable.icon:before,
.uibutton.disable.icon:after {
    opacity: 0.5;
}

/* ---------------------------------------
--- BUTTON GROUP SYTLES --- */

.uibutton-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.uibutton + .uibutton,
.uibutton + .uibutton-group,
.uibutton-group + .uibutton,
.uibutton-group + .uibutton-group {
    margin-left: 3px;
}

.uibutton-group li {
    float: left;
    padding: 0;
    margin: 0;
}

.uibutton-group .uibutton {
    float: left;
    margin-left: -1px;
}

.uibutton-group .uibutton:hover,
.uibutton-group .uibutton:focus,
.uibutton-group .uibutton:active {
    z-index:2;
}

.uibutton-group > .uibutton:first-child,
.uibutton-group li:first-child .uibutton {
    margin-left: 0;
}

/* ---------------------------------------
--- BUTTON WRAPPER SYTLES
--- (For mixing buttons and button groups, e.g., in a navigation bar) --- */

.uibutton-toolbar {
    padding: 6px;
    border-top: 1px solid #ccc;
    background: #f2f2f2;
}

.uibutton-toolbar .uibutton,
.uibutton-toolbar .uibutton-group {
    vertical-align: bottom;
}